/* page bottom pagination styles */
.pagination-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination-container .pageNumber {
  background-color: #aaa;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.pagination-container .pageNumber.active {
  background-color: var(--gold-color);
  color: #fff;
}
/* page bottom pagination styles end */
/* view choose box styles */
.view-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.view-filter-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.table-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  color: var(--gold-color);
}
.table-filter .counter-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}
.counter-wrapper button {
  font-size: 2rem;
  background-color: unset;
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.table-filter input {
  width: 35px;
  background-color: var(--bg-color-white);
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 0px 10px;
  border: none;
  outline: none;
}

.view-container {
  display: flex;
  align-items: center;
}
.view-container .view-item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 10px;
  transform: rotate(90deg);
  color: var(--gold-color);
}
/* view choose box styles end */
/* general style */

/* general style end */
/* table view styles */
.table-controller {
  overflow: auto;
}
.table-container {
  width: 100%;
  text-align: center;
  border-spacing: 4px;
  border-collapse: separate;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.table-header {
  padding: 10px 0px;
  border-radius: 4px;
  background-color: #666;
  color: #fff;
}
.table-data {
  padding: 5px 0px;
  background-color: #aaa;
  border-radius: 4px;
  margin: 1px;
  display: table-cell;
}
.table-data-box {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.table-action-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px 10px;
}
.table-btn {
  margin: 0;
  padding: 0;
  background-color: unset;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* table view styles end */
/* row view styles */
.rows-container .product-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px;
  gap: 10px;
  position: relative;
  /* padding-bottom: 40px; */
}
.rows-container .photo-container {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rows-container .product-details {
  width: 65%;
  font-size: 0.9rem;
  padding-right: 20px;
  text-align: right;
  line-height: 2;
  flex-grow: 1;
}
.rows-container .product-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.rows-container .score {
  position: absolute;
  top: 20px;
  left: 20px;
}

.rows-container .heart {
  position: absolute;
  bottom: 10px;
  right: 250px;
}
/* row view styles end */
/* grid view styles */
.grids-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.view-wrapper {
  padding: 20px 10px !important;
}

