.user-panel__navbar-item{
	margin: 20px 0px;
}

.user-panel__navbar-item a{
	padding: 5px 15px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}

.user-panel__navbar-item a:hover, .user-panel__navbar-item a.active{
	background-color: var(--bg-color);
	cursor: pointer;
}