
.logo-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}
.logo {
  width: 50px;
}
.hotelName {
  font-size: 28px;
  font-family: "Arghavan";
  color: #fff;
}
.hotelName:hover{
	color: var(--aqua-color);
}
a{
	text-decoration: none;
}
