.page-header {
  height: 400px;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../../public/images/h1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 160px;
	text-align: center;
}
  .page-header-desc {
    color: #fff;
    text-align: center;
    font-size: 48px;
		font-family: 'khodkar';
		color: var(--gold-color);
		display: inline-flex;
		justify-content: center;
		align-items: center;

		/* padding:  30px 50px;
		background-color:rgba(0,0,0,0.2);
		backdrop-filter: blur(5px);
		margin: 50px 0;
		border-radius: 5px; */
  }


@media screen and (max-width: 1200px) {
  .academia-page-header {
    height: 300px;
    padding-top: 150px;
    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .academia-page-header {
    height: 250px;
    padding-top: 130px;
    h1 {
      font-size: 1.5rem;
    }
  }
}
