.main-wrapper {
	/* width: 100%; */
	/* min-height: calc(100vh - 300px); */
	/* color: var(--semi-white); */
	/* padding: 0; */
	/* position: relative; */
}

.main-wrapper{
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0; */
}